---
{{- if .Values.vault.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "vault-config-{{ include "..name" . }}"
data:
  vault-agent-config.hcl: |
    exit_after_auth = true
    pid_file = "/home/vault/pidfile"

    auto_auth {
        method "kubernetes" {
            mount_path = "auth/kubernetes"
            config = {
                role = "{{ .Values.vault.role }}"
            }
        }

        sink "file" {
            config = {
                path = "/home/vault/.vault-token"
            }
        }
    } 
{{- end }}